@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Allerta+Stencil&family=Quantico:wght@700&family=Orbitron:wght@400;700&family=JetBrains+Mono&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cutive+Mono&family=Fira+Code&family=IBM+Plex+Mono:wght@400;700&family=Nanum+Gothic+Coding&family=Roboto+Mono&family=Special+Elite&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Michroma&family=Quantico:wght@700&family=Saira+Stencil+One&family=Stardos+Stencil:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ededed;
    background: #000000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: 'Saira Stencil One', cursive;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 1000;
    margin-left: 35px;
    transition: .3s;
    font-family: 'Stardos Stencil', cursive;
}

.navbar a:hover,
.navbar a:active {
    color: #228B22;
}

.home {
    height: 100vh;
    background: url(https://4kwallpapers.com/images/wallpapers/soldier-military-machine-gun-war-silhouette-black-1920x1080-6596.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Black Ops One', system-ui;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #8A9A5B;
    font-family: 'Black Ops One', system-ui;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    color: #e0e0e0;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 40px;
    max-width: 500px;
    line-height: 1.6;
    font-family: 'Roboto Mono', monospace;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #556B2F;
    border: 2px solid #2F352E;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 1000;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    font-family: 'Stardos Stencil', cursive;
}

.btn-box a:hover {
    color: #8A9A5B;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #556B2F;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #556B2F;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2F352E;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #2F352E;
    border-radius: 50%;
    font-size: 20px;
    color: #228B22;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #6B8E23;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0px;
    right: 150px;
    width: 720px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #000000;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}